.banner {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(49, 168, 221, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/banner.png);

  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  padding-top: 60px;
  border-bottom: 1px solid #33a8db80;
}

.logo {
  text-align: center;
}

.banner h1{
    color: white;
    text-align: center;
}

.banner p{
    color: white;
    text-align: center;
    font-size: 20px;
    width: 34%;
    margin: 0 auto;

}


.banner button{
    background-color: transparent;
    color: #33a8db80;
    text-transform: uppercase;
    border: 2px #33a8db80 solid;
    padding: 30px 80px;
    margin: 20px 500px;
    font-size: 14px;

}